/*--------------------------------------------------
ACCESSIBILITY:
--------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------
TYPOGRAPHY:
--------------------------------------------------*/
h1 {
    font-family: 'Parisienne', cursive;
    color: #F361AF;
    font-size: 3.5em;
    line-height: 1;
}

h2 {
    font-family: 'Parisienne', cursive;
    color: #F361AF;
    font-size: 2.5em;
}

h3 {
    font-family: 'Parisienne', cursive;
    color: #F361AF;
    font-size: 2em;
}

p {
    font-family: 'Nunito', sans-serif;
    color: #404040;
    font-size: 1em;
    line-height: 0.5;
}

.introText h2 {
    font-family: 'Lora', cursive;
    font-style: italic;
    font-size: 1.2em;
    color: #404040;
    padding-bottom: 1em;
    font-weight: 400;
}

#mapInfoWindow h2 {
    font-size: 24px;
    color: #F361AF;
}

#mapInfoWindow p {
    font-size: 14px;
}

a {
    color: #526b9c;
    text-decoration-style: dotted;
}

a:hover {
    color: #F361AF;
}


/*--------------------------------------------------
GENERAL STYLING:
--------------------------------------------------*/
html, body {
    height: 100%;
    margin: 0;
    background-color: #FDAED8;
}

header {
    background-color: #F361AF;
}

.logo {
    max-width: 25vw;
    padding: 1em 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #FDAED8;
    padding: 1em 1em;
}

main div {
    text-align: center;
}

.introText, .locationSection {
    background-color: #FEE1F0;
    padding-bottom: 3em;
    box-shadow: 7px 7px 4px 3px rgba(63,48,56,0.3);
    margin-bottom: 2.5em;
}

.introText {
    padding-top: 1em;
}

#map {
    height: 300px;
    max-width: 100%;
}

#mapInfoWindowBodyContent p {
    line-height: 1;
}

#address {
    padding: 0 1em 1em 1em;
}

.button {
    background-color: #F361AF;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}

.button:hover {
    background-color: #FDAED8;
}

.button a:hover {
    color: #FFFFFF;
}

footer {
    background-color: #F361AF;
    padding: 2em 1em;
}

footer p, footer a {
    color: #FFFFFF;
}

/*--------------------------------------------------
USE FLEX TO CREATE A THREE BUCKET LAYOUT:
--------------------------------------------------*/

/*--------------------------------------------------
BASIC RESPONSIVE LAYOUT FOR ALL BROWSERS:
--------------------------------------------------*/

.grid-container {
    max-width: 50em;
    margin: 0 auto;
}

.pre-masthead, .post-masthead, .pre-footer, .post-footer{
    display: none;
    background-color: #F361AF;
}

/*--------------------------------------------------
CSS GRID LAYOUT FOR MODERN BROWSERS:
--------------------------------------------------*/
@supports (grid-area: auto) {    
    @media screen and (min-width: 50em) {
        .grid-container {
            max-width: none;
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
        }
        
        .pre-masthead, .post-masthead, .pre-footer, .post-footer{
            display: inline;
        }
        
        .pre-masthead {
            grid-column: 1/2;
        }
        
        .masthead {
            grid-column: 2/3;
        }
        
        .post-masthead {
            grid-column: 3/4;
        }
        
        .main-area {
            grid-column: 2/3;
        }
        
        .locationSection {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            padding: 0 0;
        }
        
        .googleMap {
            grid-column: 1/2;
        }
        
        #map {
            height: 100%;
        }
        
        .address {
            grid-column: 2/3;
            
            padding-top: 1em;
            padding-bottom: 3em;
        }
        
        .pre-footer {
            grid-column: 1/2;
        }
        
        .footer {
            grid-column: 2/3;
        }
        
        .post-footer {
            grid-column: 3/4;
        }
    }
 
    @media screen and (min-width: 65em) {
        .grid-container {
            grid-template-columns: 1fr 6fr 1fr;
        }
    }
}