/*--------------------------------------------------
ACCESSIBILITY:
--------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------
TYPOGRAPHY:
--------------------------------------------------*/
h1 {
    font-family: 'Parisienne', cursive;
    color: #F361AF;
    font-size: 2.5em;
}

h2 {
    font-family: 'Parisienne', cursive;
    color: #F361AF;
    font-size: 2em;
}

h3 {
    font-family: 'Parisienne', cursive;
    color: #F361AF;
    font-size: 24px;
}

p {
    font-family: 'Hind Madurai', sans-serif;
    color: #3F3038;
    font-size: 1em;
    line-height: 0.5;
}

#mapInfoWindow h2 {
    font-size: 24px;
    color: #F361AF;
}

#mapInfoWindow p {
    font-size: 14px;
}

a {
    color: #526b9c;
    text-decoration-style: dotted;
}

a:hover {
    color: #F361AF;
}


/*--------------------------------------------------
GENERAL STYLING:
--------------------------------------------------*/
html, body {
    height: 100%;
    margin: 0;
}

header {
    background-color: #F361AF;
}

.logo {
    max-width: 25vw;
    padding: 1em 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #FDAED8;
    padding: 1em 1em;
}

main div {
    text-align: center;
}

.introText, .locationSection {
    background-color: #FDF6FA;
    padding-top: 1em;
    padding-bottom: 3em;
    box-shadow: 5px 5px 5px 5px rgba(63,48,56,0.3);
    margin-bottom: 2.5em;
}

#map {
    height: 300px;
    max-width: 100%;
}

#address {
    padding: 1em;
}

.button {
    background-color: #F361AF;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Hind Madurai', sans-serif;
}

.button:hover {
    background-color: #FDAED8;
}

.button a:hover {
    color: #FFFFFF;
}

/*--------------------------------------------------
USE FLEX TO CREATE A THREE BUCKET LAYOUT:
--------------------------------------------------*/

/*--------------------------------------------------
BASIC RESPONSIVE LAYOUT FOR ALL BROWSERS:
--------------------------------------------------*/
.grid-container {
    max-width: 50em;
    margin: 0;
}

/*--------------------------------------------------
CSS GRID LAYOUT FOR MODERN BROWSERS:
--------------------------------------------------*/
@supports (grid-area: auto) {    
    @media screen and (min-width: 50em) {
        
    }
 
    @media screen and (min-width: 65em) {

    }
}