.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vw auto;
    background-color: #F7CED7;
    grid-row-gap: 25px;
}

.header {
    background-color: #DB7093;
    
    grid-column: 1/13;
    grid-row: 1/2;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.header img {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.main {
    grid-column: 1/13;
    grid-row: 2/3;
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr 3fr 1fr;
}

.main .introText {
    grid-column: 3/5;
    grid-row: 1/2;
    
    text-align: center;
}

.main .locationSection {
    background-color: rgba(157, 129, 137, 0.3);
    padding: 25px;
    
    grid-column: 2/6;
    grid-row: 2/3;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    align-items: center;
}

.main .locationSection .map {
    grid-column: 1/2;
}

.main .locationSection .address {
    grid-column: 2/3;
}