.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vw auto;
    background-color: #F7CED7;
    grid-row-gap: 25px;
}

.header {
    background-color: #DB7093;
    
    grid-column: 1/13;
    grid-row: 1/2;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header img {
    grid-column: 2/3;
    justify-self: center;
}

.main {
    grid-column: 1/13;
    grid-row: 2/3;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.main .introText {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.main #map {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}