.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20vw auto;
    background-color: #F7CED7;
    grid-row-gap: 25px;
}

.header1 {
    grid-column: 1/6;
    grid-row: 1/2;
    background-color: #DB7093;
}
.header2 {
    grid-column: 6/8;
    grid-row: 1/2;
    background-color: #DB7093;
}
.header3 {
    grid-column: 8/13;
    grid-row: 1/2;
    background-color: #DB7093;   
}

.item2 {
    grid-column: 5/4 span;
    grid-row: 2/3;
    text-align: center;
}